Package: org.toilettrauma.vpnshare
Name: VPNShare
Version: 0.0.1
Architecture: iphoneos-arm64
Description: Share your VPN tunnel over Personal Hotspot by suppressing iOS's auto-installed Packet Filter rules.
Maintainer: toilett
Author: toilett
Section: Tweaks
Depends: ellekit
Sileo-Required-Action: nothing
